@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  /* Colors */
  --dark: #0f0f0f;
  --light: #f0f0f0;
  --green: #ff00db;
  --pink: #ff00db;

  --max-width: 1600px;
  --min-width: 320px;

  --h1-font: clamp(4.235rem, 3.7058rem + 2.6463vw, 6.352rem);
  --h2-font: clamp(1.618rem, 1.041rem + 2.885vw, 3.926rem);
  --h3-font: clamp(1.618rem, 1.4158rem + 1.0112vw, 2.427rem);

  --normal-font: clamp(1rem, 0.875rem + 0.625vw, 1.5rem);
  --small-font: clamp(0.8rem, 0.725rem + 0.375vw, 1.1rem);
}

.darkmode {
  --dark: #f0f0f0;
  --light: #0f0f0f;
  --green: #00ff24;
}

/* HTML layout */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--light);
  color: var(--dark);

  font-family: 'Roboto Mono', monospace;
}

section {
  min-height: 100vh;
  padding: 6rem 3rem 0 3rem;
}

/* Typography */
h1,
h2,
h3,
p {
  font-family: var(--text-font);
  padding: 0.5rem;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: var(--h1-font);
  letter-spacing: 0.05em;
}

h2 {
  font-size: var(--h2-font);
}

h3 {
  font-size: var(--h3-font);
  letter-spacing: 0.05em;
}

p {
  font-size: var(--normal-font);
  font-weight: 300;
}

.italic {
  font-size: var(--small-font);
  font-weight: 100;
  font-style: italic;
}

/* Reusable CSS classes */
a {
  text-decoration: none;
  font-family: var(--text-font);
  font-size: var(--normal-font);
  color: var(--dark);
  margin-top: 0.7rem;
}

.secondary-btn:hover {
  border-left: solid 2px var(--pink);
  padding-left: 0.7rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.border-pink {
  border-bottom: solid 2px var(--pink);
}

.border-green {
  border-bottom: solid 2px var(--green);
}

.glitch {
  font-size: 4rem;
  font-weight: 700;

  text-shadow: 0.05em 0 0 var(--light), 0 0.05em 0 var(--light),
    -0.05em 0 0 var(--light);
}

.glitch:hover {
  animation: glitch 300ms;
}

@keyframes glitch {
  0% {
    color: var(--light);
    text-shadow: 0.05em 0 0 var(--dark), 0 0.05em 0 var(--dark),
      -0.05em 0 0 var(--dark);
  }

  14% {
    text-shadow: 0.05em 0 0 var(--dark), 0 0.05em 0 var(--dark),
      -0.05em 0 0 var(--dark);
  }

  15% {
    text-shadow: -0.05em 0 0 var(--dark), 0 -0.05em 0 var(--dark),
      0.05em 0 0 var(--dark);
  }

  49% {
    text-shadow: -0.05em 0 0 var(--dark), 0 -0.05em 0 var(--dark),
      0.05em 0 0 var(--dark);
  }

  50% {
    text-shadow: -0.025em -0.025em 0 var(--dark), 0 0.025em 0 var(--dark),
      -0.05em 0.025em 0 var(--dark);
  }

  97% {
    text-shadow: -0.025em -0.025em 0 var(--dark), 0 0.025em 0 var(--dark),
      -0.05em 0.025em 0 var(--dark);
  }

  100% {
    color: var(--light);

    text-shadow: 0.025em 0.05em 0 var(--dark), -0.05em -0.05em 0 var(--dark),
      -0.05em 0.025em 0 var(--dark);
  }
}
